<div class="form-style-5">

	 <%= image_tag("/rede_cortada.png", :alt => "logo", :class => "white-image") %>

	<h2>Esqueceu a senha?</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email do%>
	    	Email:
	    	<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
	    <% end -%>
	  </div>

	  <div class="actions">
	    <%= f.submit "Recuperar a senha" %>
	    <%= render "devise/shared/links" %>
	  </div>
	<% end %>
</div>