<div class="form-style-5">

  <%= image_tag("/rede_escuraa.png", :alt => "ícone", :class => "icon") %>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nome:</strong>
    <%= @pacient.name %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= @pacient.sex %>
  </p>

  <p>
    <strong>Data de Nascimento:</strong>
    <%= @pacient.birth %>
  </p>

  <p>
    <strong>Ocupação:</strong>
    <%= @pacient.occupation %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= @pacient.phone %>
  </p>

  <p>
    <strong>Rua:</strong>
    <%= @pacient.street %>
  </p>

  <p>
    <strong>Número:</strong>
    <%= @pacient.number %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= @pacient.neighborhood %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= @pacient.city %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= @pacient.state %>
  </p>

  <p>
    <strong>Exposição solar sofrida:</strong>
    <%= @pacient.totalExposition %>
  </p>

  <p>
    <strong>Horário de exposição:</strong>
    <%= @pacient.dayPeriod %>
  </p>

  <p>
    <strong>Quando começou a fumar:</strong>
    <%= @pacient.startedTabagism %>
  </p>

  <p>
    <strong>Frequência com que fuma:</strong>
    <%= @pacient.frequenceSmoking %>
  </p>

  <p>
    <strong>Quando Parou de Fumar:</strong>
    <%= @pacient.stopedSmoking %>
  </p>

  <p>
    <strong>O que fumava:</strong>
    <%= @pacient.whatSmoked %>
  </p>

  <p>
    <strong>Quando começou a beber:</strong>
    <%= @pacient.startedDrinking %>
  </p>

  <p>
    <strong>Frequência com que bebe:</strong>
    <%= @pacient.frequenceDrinking %>
  </p>

  <p>
    <strong>Quando Parou de beber:</strong>
    <%= @pacient.stopedDrinking %>
  </p>

  <p>
    <strong>O que bebia:</strong>
    <%= @pacient.whatDrinked %>
  </p>

  <p>
    <strong>Quem na família teve câncer de garganta ou boca:</strong>
    <%= @pacient.whoHadCancer %>
  </p>

  <p>
    <strong>Possui prótese:</strong>
    <%= @pacient.protesis %>
  </p>

  <p>
    <strong>Realizou sexo oral desprotegido:</strong>
    <%= @pacient.oralSex %>
  </p>


  <p>
    <strong>Observação:</strong>
    <%= @pacient.observation %>
  </p>

  <div class="actions">
  <%= link_to 'Editar Paciente', edit_pacient_path(@pacient)%>
  <%= link_to 'Cadastrar novo Paciente', new_pacient_path%>
  <%= link_to 'Voltar', pacients_path%>
  <%= link_to 'Home', root_path%>
  </div>
</div>