<div class="form-style-5">

  <!--<%= image_tag("/Rede (Fundo Escuro).png", :alt => "rede") %>-->
  <%= image_tag("/Rede.png", :alt => "rede") %>

  <h2>Tela de Login</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email do %>
        Email:
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <% end -%>
    </div>

    <div class="field">
      <%= f.label :password do %>
        Senha:
        <%= f.password_field :password, autocomplete: "off" %>
      <% end -%>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me%>
          Lembrar-me
        <% end -%>

      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Fazer Login" %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= render "devise/shared/links" %>
  </div>

</div>
